.counter-container{
    text-align: center;
    margin-top: 20px;
}

.counter-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.counter-value {
    font-size: 32px;
    margin-bottom: 20px;
} 