body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

/* Background */
.weather-app {
  min-height: 80vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Header */
.weather-header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

/* Card */
.weather-card {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 20px;
  padding: 2rem;
  width: 280px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

/* City Name */
.city-name {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

button {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  padding: 15px;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.city-name input {
  height: 20px;
  background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  outline: none;
  border: none;
}

input:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

/* Weather Icon */
.icon-section {
  margin-bottom: 1rem;
}
.weather-icon {
  width: 80px;
  height: 80px;
}

/* Temperature */
.temperature {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

/* Description */
.description {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  opacity: 0.9;
}

/* Extra Info */
.extra-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

/* Footer */
.weather-footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  opacity: 0.8;
}
