.skills {
  padding: 2rem;
  background-color: #f9f9f9;
  height: 100vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-content {
  margin-top: 50px;
  padding: 40px;
  display: flex;
}

.svg-div-of-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills a {
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #2c3e50;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.skills a:hover {
  background-color: #3e5e7f;
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
}
