.cart {
  padding: 40px 20px;
}
.cart-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.cart-items {
  flex: 2;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}
.cart-summary {
  flex: 1;
  border: 1px solid #eee;
  padding: 20px;
  border-radius: 10px;
  background: #959595;
}
.cart-summary button {
  width: 100%;
  background: #111;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}
.cart-summary button:hover {
  background: #444;
}
