#root {
  width: 100%;
}

body {
  background-color: black;
  color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

ul li a:hover {
  font-weight: 600;
}
