.hero-section {
  background-color: #9ecdf7;
  padding: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  height: calc(100vh - 40px);
} 

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* button:hover {
  background-color: #0056b3;
} */