.about {
  padding: 2rem;
  background-color: #f9f9f9;
  height: 100vh;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  padding: 20px;
}

.image-div img {
  height: 500px;
  width: 500px;
  border-radius: 5px;
  object-fit: cover;
}

.text-div {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

.about h2 {
  font-size: 2.5rem;
  color: #333;
  margin: 0;
}

.about p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

.about  a {
   padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: #2C3E50;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.about a:hover {
  background-color: #3e5e7f;
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 2rem;
  }

  .about p {
    font-size: 1rem;
  }
}
