.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 20vw;
} 

.product-card ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #333;
}

.product-card p {
  margin: 0;
  color: #777;
  font-size: 1em;
}


